@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO */
/* fonts */
@font-face {
  font-family: "PoiretOne-Regular";
  src: url("/fonts/PoiretOne-Regular.woff");
}
@font-face {
  font-family: "Questrial-Regular";
  src: url("/fonts/Questrial-Regular.woff");
}
/* add color codes */
/* add layer styles */
/* body */
/* main */
/* header/footer */
/* typography */
/* components */
