@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: "PoiretOne-Regular";
  src: url("/fonts/PoiretOne-Regular.woff");
}
@font-face {
  font-family: "Questrial-Regular";
  src: url("/fonts/Questrial-Regular.woff");
}
,
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.woff");
}

/* add layer styles */
/* base */
/* color codes */
@layer base {
  :root {
    --color-logo-bg-pink: 96 96 96;
    --color-logo-text-grey: 255 214 214;
  }
}
/* TODO */
/* components */
/* body */
/* main */
/* header/footer */
/* typography */
